# /etc/default/immotep

#
# Configuration for immotep service
#

#
# HTTP listen port
#
IMMOTEP_SERVE_PORT=80
#IMMOTEP_SERVE_STATIC=/path_to_ui

#
# For sqlite database
#
#IMMOTEP_DSN_TYPE=sqlite
#IMMOTEP_DSN_FILENAME=/path_to_sqlite_filename

#
# For postgresql databse
#
IMMOTEP_DSN_TYPE=pgsql
IMMOTEP_DSN_HOST=localhost
IMMOTEP_DSN_PORT=5432
IMMOTEP_DSN_USER=immotep
IMMOTEP_DSN_PASSWORD={{ pgdb_passwd }}
IMMOTEP_DSN_DBNAME=immdb